# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

In [5]:
numbered=['python','java','r']
numbered

['python', 'java', 'r']

In [7]:
library=['pandas','numpy','matplotlib']
library

['pandas', 'numpy', 'matplotlib']

 Data Science tools
     1.R studio
     2.Apache lab
     3Tensor flow

## Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
print(3+5)

8

In [9]:
print((3*4)+5)
# This a simple arithmetic expression to mutiply then add integers

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

**Objectives:**

In [12]:
language={'python','sql','r'}
language

{'python', 'r', 'sql'}

## Divyam Padole